img {
    width: 300px;
    height: auto;
    align-content: center;
}

.card {
    width: 302px;
    height: auto;
    align-content: center;
    margin: 20px;
    display: inline-block;
}

img:hover {
    z-index: 1;
    box-shadow: darkgray -10px 10px 5px;
    width: 303px;
    transition: 0.2s ease;
    cursor: pointer;
}